@charset "UTF-8";

/* Todas as demais midias */

/* Typical Device Breakpoints
    -----------------------
    Pequenas telas: Até 600px
    Celular: de 600px até 768px
    Tablet: de 768px até 992px
    Desktop: de 992px até 1200px  
    Grandes telas: Acima de 1200px

*/


@media print {
    body{
        background-image: url(../imagens/back-print.jpg); /* Desnecessário */


    }
    #phone{display: none;}
    #tablet{display: none;}
    #print{display: block;}
    #pc{display: none;}
    #tv{display: none;}

    main h1{
        font-family: 'Courier New', Courier, monospace;
        text-shadow: none;
        color: black;

    }

    main{
        border: 2px solid black;
        width: 90vw;
        text-align: center;
    }
    main::after{
        content: 'Essa impressão foi feita através do site www.cursoemvideo.com';
        text-decoration: overline;
        font-size: 0.5em;
       
        
        
    }
}


@media screen and (min-width: 768px) and (max-width: 992px) { /* Tablet */

body{
    background-image: url(../imagens/back-tablet.jpg);
    

}

    #phone{display: none;}
    #tablet{display: block;}
    #print{display: none;}
    #pc{display: none;}
    #tv{display: none;}

} 

@media screen and (min-width: 992px) and (max-width: 1200px){ /* Desktop */

    body{

        background-image: url(../imagens/back-pc.jpg);
    }
    
    #phone{display: none;}
    #tablet{display: none;}
    #print{display: none;}
    #pc{display: block;}
    #tv{display: none;}

}

@media screen and (min-width: 1200px){ /*Grandes telas*/

    body{
        background-image: url(../imagens/back-tv.jpg);
    }
    #phone{display: none;}
    #tablet{display: none;}
    #print{display: none;}
    #pc{display: none;}
    #tv{display: block;}

     
}


